$grey: #f1f2f2;
$grey-text: #808285;
$orange: #fdb62d;

@import "./styles/reset.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.heading-text {
    display: inline-block;
    letter-spacing: 5px;
    font-weight: 900;
    padding-top: 100px;
    padding-left: 100px;

    &:before {
        content: "";
        border: 0.6rem solid $orange;
        width: 3rem;
        margin: 0 1rem;
        transform: translateY(-1rem);
    }

}

@import "./styles/_navigation";
@import "./styles/_header";
@import "./styles/_about";
@import "./styles/_cards";
@import "./styles/_gallery";
@import "./styles/_clients";
@import "./styles/_contact";