.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include r(320) {
        height: 2500px;
    }

    @include r(1500) {
        height: 100vh;
    }

    .card-grid {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex: 2 0 0;
        align-items: center;

        @include r(320) {
            flex-direction: column;
        }

        @include r(768) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include r(1024) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px;
        }

        @include r(1500) {
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 100px;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;

            @include r(320) {
                padding: 20px;
                margin-bottom: 15px;
            }

            @include r(768) {
                padding: 20px;
                margin-bottom: 15px;
            }

            @include r(1024) {
                padding: 20px;
                flex: 0 0 33%;
            }

            @include r(1500) {
                padding: 50px;
                flex: 10;
            }


            .title {
                text-transform: uppercase;
                margin-top: 20px;
                font-weight: 900;
                font-size: 1.2rem;
                letter-spacing: 1px;
                text-align: center;
            }

            .description {
                font-family: 'Merriweather';
                margin-top: 10px;
                line-height: 1.5rem;
                color: $grey-text;
                text-align: center;
                font-size: 0.8rem;
            }

            .services {
                font-family: 'Merriweather';
                color: $grey-text;
                font-size: 0.8rem;
                line-height: 1.5rem;
                margin-top: 30px;

                ul {
                    list-style-type: none;

                    li {
                        border-bottom: 0.5px solid $grey-text;
                        padding: 15px;

                        &:before {
                            content: "\2713 ";
                            font-weight: 900;
                            color: $orange;
                            font-size: 1.5em;
                            margin-right: 15px;
                        }
                    }
                }
            }



            .icon {
                svg {
                    margin: auto;
                    fill: $orange;
                    padding-bottom: 15px;

                    @include r(320) {
                        height: 70px;
                    }

                    @include r(1500) {
                        height: 140px;
                    }
                }

            }
        }
    }
}