.client-container {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include r(320) {
        height: 1200px;
    }

    @include r(480) {
        height: 1200px;
    }

    @include r(1500) {
        height: 100vh;
    }

    .heading-text {
        color: white;
    }

    .client-title {
        color: white;
        margin-left: 1rem;

        @include r(320) {
            font-size: 1em;
            line-height: 1.7;
        }

        @include r(480) {
            font-size: 1.5em;
            line-height: 1.7;
        }

        @include r(768) {
            padding: 20px 0px 0px 45px;
            font-size: 2em;
        }

        @include r(1024) {
            padding: 20px 0px 0px 80px;
        }

        @include r(1500) {
            padding: 20px 0px 0px 100px;
        }
    }

    .client-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex: 2 0 0;
        padding: 50px;

        @include r(320) {
            padding: 20px;
            align-items: center;
        }

        @include r(768) {
            align-items: stretch;
            justify-content: space-between;
        }

        @include r(1500) {
            align-items: stretch;
        }

        .client {
            text-align: center;


            @include r(320) {
                padding: 30px;
            }

            @include r(480) {
                flex: 0 0 70%;
            }

            @include r(768) {
                flex: 0 0 35%;
            }

            @include r(1500) {
                padding: 50px;
                flex: 0 0 25%;
            }

            svg {
                fill: white;

                @include r(320) {
                    height: 35px;
                }

                @include r(768) {
                    height: 45px;
                }

                @include r(1500) {
                    height: 60px;
                }
            }
        }
    }
}