.gallery-container {
    background-color: $grey;
    display: flex;
    flex-direction: column;

    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px;

        .cell {
            align-self: center;
            flex: 0 0 25%;
            margin: 1rem;

            @include r(320) {
                flex: 0 0 100%;
            }

            @include r(768) {
                flex: 0 0 35%;
            }

            @include r(1500) {
                flex: 0 0 25%;
            }
        }

        .cell img {
            display: block;
        }

        .responsive-image {
            max-width: 100%;
        }
    }
}