.header {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .title {
        width: 100%;
        display: flex;

        .element {
            font-weight: 900;
            margin: auto;

            @include r(320) {
                font-size: 3rem;
            }

            @include r(768) {
                font-size: 5rem;
            }

            @include r(1500) {
                font-size: 7.5rem;
            }
        }
    }
}