.header {
    color: white;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .title {
        width: 100%;
        display: flex;

        .element {
            font-size: 7.5rem;
            font-weight: 900;
            margin: auto;
        }
    }
}