.header-navigation {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: stretch;

    @include r(320) {
        align-items: center;
    }

    @include r(1024) {
        align-items: baseline;
    }

    @include r(1500) {
        align-items: baseline;
    }

    .logo {
        padding: 20px;
        color: white;

        @include r(320) {
            display: flex;
            position: relative;
            margin: 0 auto;
            top: 0;
            left: 0;
        }

        @include r(1024) {
            position: absolute;
            top: 5%;
            left: 10%;
        }

        @include r(1500) {
            position: absolute;
            top: 5%;
            left: 10%;
        }

    }

    .menu {
        padding: 20px;
        position: absolute;
        top: 10%;
        right: 10%;

        @include r(320) {
            display: none;
        }

        @include r(1024) {
            display: inline;
        }

        @include r(1500) {
            display: inline;
        }

        ul {

            list-style-type: none;

            &:hover>li {
                opacity: 0.2;
            }

            li {
                display: inline;
                color: white;
                font-weight: 700;
                cursor: pointer;

                @include r(1024) {
                    font-size: 0.65rem;
                    margin-right: 5px;
                    padding: 10px;
                    letter-spacing: 1px;
                }

                @include r(1500) {
                    font-size: 0.75rem;
                    letter-spacing: 3px;
                    padding: 20px;
                    margin-right: 10px;
                }

                &:hover {
                    font-weight: 900;
                    opacity: 1;
                }
            }
        }

    }
}